google-api-python-client
praw
tweepy
nltk
vaderSentiment
git+https://github.com/twintproject/twint.git@origin/master#egg=twint # twint, but working
pandas
nltk
scikit-learn
numpy
seaborn
tqdm
matplotlib
tweet-preprocessor
ekphrasis